.main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
}
.main h2 {
    font-size: 2.3em;
    font-weight: 700;
    color: #fff;
    animation: infinite-scroll 9000ms ease  ;
  }
  
  .main h2 span {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;


  }

  .test{
    background-image: linear-gradient(90deg,#f98cfa,#b847f4,#a6e7ff);
    background-size: 400%;
     background-position: 0%;
    transform-style: preserve-3d;
    animation: change_gradiant 3s infinite alternate;
  }
  
  .main h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: infinite-scroll 9000ms ease  ;

  }
  
  .viewproject_btn {
    text-decoration: none;
    color: #2D033B;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1;
    display: inline-block;
    padding: 0.8375em 2.8875em;
    margin-bottom: 30px;
    transition: 0.7s ease;
    animation: infinite-scroll 9000ms ease  ;

  }
  
  .viewproject_btn:hover {
    transform: scale(0.9);
    color: #fff;
    background-image: linear-gradient(90deg,#f98cfa,#b847f4,#a6e7ff);
    
  }

  .middle{
    margin: 0px 55px;
    animation: infinite-scroll 9000ms ease  ;

  }

.icon{
    font-size: 45px;
    animation: infinite-scroll 9000ms ease ;


  }
  .socialmedia a .icon:hover{
    transform: rotate(4680deg);
    transition: all 4.9s ease-in-out;
    font-size: 45px;
    fill: #E5B8F4;

  }


  .main img {
    width: 100px;
    height: 100px;
    animation: infinite-scroll 9000ms ease ;

  }


@keyframes change_gradiant{
  0% {
    background-position: 100% 0;
}
100% {
    background-position: -100% 0;
}

}



@keyframes infinite-scroll{
  0% {
    transform: translateY(-30px);
  }
  
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    text-align: center;
    min-height: 70%;
    overflow-y: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main img {
    width: 80px;
    height: 80px;
  }

  .main h2 {
    font-size: 1.0rem;
  }

  .main h2 span {
    font-size: 1.4em;
  
    
  }


  .main .viewproject_btn {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .main .icon {
    font-size: 30px;
  }

  .middle{
    margin: 0px 20px;
  }
}

